
li{list-style: none;width: 100%;}
.navDiv{margin-top: 30px;}
.navDiv li{height: 40px;line-height: 40px;font-size: 22px;text-align: center;}
li .active{  height: 40px;line-height: 40px;background: #fff;width: 100%;display: block;}

.navDiv li a{color: #839ccf}